@model projectFrontednd.DAO.ThueXeTheoGioDto

@{
    ViewData["Title"] = "Chi Tiết Thuê Xe Theo Giờ";
}

<h1>Chi Tiết Thuê Xe Theo Giờ</h1>

<div>
    <h4>Thông Tin Thuê Xe</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <label>Mã Thuê</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.maThue)
        </dd>

        <dt class="col-sm-2">
            <label>Tên Khách Hàng</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.maKhachHang)
        </dd>

        <dt class="col-sm-2">
            <label>Tên Xe</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.maXe)
        </dd>

        <dt class="col-sm-2">
            <label>Tên Nhân Viên</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.maNhanVien)
        </dd>

        <dt class="col-sm-2">
            <label>Thời Gian Bắt Đầu</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.thoiGianBatDau)
        </dd>

        <dt class="col-sm-2">
            <label>Thời Gian Kết Thúc</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.thoiGianKetThuc)
        </dd>
    </dl>
</div>

<div>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.maThue })
    <a asp-action="Index">Quay lại danh sách</a>
</div>