@model IEnumerable<projectFrontednd.DAO.ThueXeTheoGioDto>

@{
    ViewData["Title"] = "Danh Sách Khách Hàng";
}

<h1>Danh Sách Thuê Xe Theo Giờ</h1>

<p>
    <a asp-action="Create">Thêm mới</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                <label>Mã Thuê</label>
            </th>
            <th>
                <label>Tên Khách Hàng</label>
            </th>
            <th>
                <label>Tên Xe</label>
            </th>
            <th>
                <label>Tên Nhân Viên</label>
            </th>
            <th>
                <label>Thời Gian Bắt Đầu</label>
            </th>
            <th>
                <label>Thời Gian Kết Thúc</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.maThue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.maKhachHang)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.maXe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.maNhanVien)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.thoiGianBatDau)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.thoiGianKetThuc)
                </td>
                <td>
                    @Html.ActionLink("Sửa", "Edit", new { id = item.maThue }) |
                    @Html.ActionLink("Chi tiết", "Details", new { id = item.maThue })
                </td>
            </tr>
        }
    </tbody>
</table>